body {
    font-family: Arial, sans-serif;
    background: url('back.jpg') no-repeat center center fixed;
    background-size: cover; 
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    margin: 0;
}

.task-form, .task-list {
    margin: 20px 0;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="text"], input[type="datetime-local"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background: #eee;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
article {
    float: left; padding: 40px; 
    width: 70%;
      
     border-radius: 5px;
      box-shadow: white; 
   } 


